<form action="/session" method="post">
  <fieldset>
    <legend>Login Form</legend>
    <div class="row">
        <div class="small-9 columns">
          <label>Username
            <input type="text" name="customer[email]" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="small-9 columns">
          <label>Password
            <input type="password" name="customer[password]" />
          </label>
        </div>
      </div>
      
      <input type="submit" value="Log In" class='button tiny radius' style='border-radius: 8px;'>
  </fieldset>
</form>